%tr{:class => ('adult' unless movie.rating =~ /^G|PG$/)}
  %td= movie_counter
  %td
    = link_to "#{movie.title}", edit_movie_path(movie); 
    = button_to "Delete", movie_path(movie), :method => :delete, :confirm => "are you sure?"
  %td= movie.rating
  %td= movie.release_date
  %td= link_to "More about #{movie.title}", movie_path(movie)
