-# in app/views/movies/index.html.haml
%h3 All Movies

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Relsease Date
      %th More Info
  %tbody
    -@movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to "Add a New Movie", new_movie_path
-# debug(@movies)
-# raise @movies.inspect
-# raise params.inspect
