-# in app/views/movies/index.html.haml
%h3 All Movies
= flash[:notice]
%table#movies
  %thead
    %tr
      %th # in TMDB
      %th Movie Title
      %th Rating
      %th Relsease Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr{:class => ('adult' if movie.adult == true)}
        %td= movie.id
        %td= movie.original_title
        %td= movie.popularity
        %td= movie.release_date
        %td= #link_to "More about #{movie.title}", movie_path(movie)

= link_to "Add a New Movie", new_movie_path

-# add to end of app/views/movies/index.html.haml:
 
%h1 Search TMDb for a movie
 
= form_tag :action => 'search_tmdb' do
 
  %label{:for => 'search_terms'} Search Terms
  = text_field_tag 'search_terms'
  = submit_tag 'Search TMDb'

-# debug(@movies)
-# raise @movies.inspect
-# raise params.inspect
